{% load i18n %}
{% load staticfiles %}
{% load polymerdep %}
<!DOCTYPE html>
<html lang="en">
<head>
   <script src="{% static 'materialdjango/components/bower_components/webcomponentsjs/webcomponents-lite.js' %}"></script>
    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}
    {{ "polymer/polymer.html"|dep }}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{% block title %}Yik Yhack{% endblock %}</title>
    <style>
	.id_searchText {
		width: 60%;
   	}
    </style>
</head>

<body class="{% if user.is_authenticated %}grey lighten-5{% endif %}">
	<paper-header-panel class="flex">
	<paper-toolbar>
	    <ul id="dropdown1" class="dropdown-content">
	      {% if locations %}
		{% if ip %}
		<li><a href="changeLocation/{{latitude}}_{{longitude}}" style="font-size:12px;">Current Location</a></li>
		{% endif %}
	      {% for location in locations %}
		<li><a href="changeLocation/{{location.latitude}}_{{location.longitude}}" style="font-size:12px;">{{ location }}</a></li>
	      {% endfor %}
	      {% endif %}
	    </ul>
	    <nav style="margin-bottom:20px;" class="row">
  	    <div class="nav-wrapper col s10 offset-s1">
  	      <a href="#" class="brand-logo">
		    {% if user.is_authenticated %}
		    {% block header %}{% endblock %}
		    {% else %}
			Yik Yhack
		    {% endif %}
	      </a>
  	      <ul id="nav-mobile" class="right hide-on-med-and-down">
		    {% if user.is_authenticated %}
		    	<li class="{% if active == 'recent' %} active {% endif %}">
				<a class="waves-effect" href="{% url 'blogList' %}">{% trans "Recent Yaks" %}</a>
			</li>
		   	<li class="{% if active == 'top' %} active {% endif %}">
				<a class="waves-effect" href="{% url 'topYaks' %}">{% trans "Top Yaks" %}</a>
			</li>
		    	<li class="{% if active == 'myTop' %} active {% endif %}">
				<a class="waves-effect" href="{% url 'myTopYaks' %}">{% trans "My Top Yaks" %}</a>
			</li>
		   	<li class="{% if active == 'myYaks' %} active {% endif %}">
				<a class="waves-effect" href="{% url 'myYaks' %}">{% trans "My Yaks" %}</a>
			</li>
		   	<li class="{% if active == 'update' %} active {% endif %}">
				<a class="waves-effect" href="/accounts/profile/">Update Profile</a> 
			</li>
			{% if locations %}
			<li>
				<a class="dropdown-button waves-effect waves-light" href="#!" data-beloworigin="true" data-hover="true" data-activates="dropdown1">Location<i class="material-icons right">arrow_drop_down</i></a>
			</li>
			{% endif %}
			<li><a class="waves-effect" href="/accounts/logout/">Logout</a></li>
		    {% else %}
			<li><a class="waves-effect" href="/accounts/login/">Log in</a></li>
			<li><a class="waves-effect" href="/accounts/register/">Register</a></li>
		    {% endif %}
  	      </ul>
  	    </div>
  	  </nav>
	    {% if user.is_authenticated and showSearch %}
	    <div class="row">
	    <form id="search" class="col s6 offset-s3" method="post", action="", style="margin-top:40px; margin-bottom: 20px;">
		{% load material_form %} 
		{% csrf_token %}
		{% form form=searchForm %}
			{% part form.searchText prefix %}<i class="material-icons prefix">search</i>{% endpart %}
		{% endform %}
		<!--<input style="display:none;" type="submit" name="searchSubmit" value="Submit"/>-->
	    </form>
	    </div>
	    {% endif %}
	    </div>
	<paper-toolbar>

	    <div id="content" style="width:90%; -webkit-transform: translateX(5%);">
	    {% block content %}{% endblock %}
	    </div>

	    <div id="footer">
	    {% block footer %}{% endblock %}
	    </div>
	</paper-header-panel>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script>
		(function(b){window.onbeforeunload=function(a){window.name+=" ["+b(window).scrollTop().toString()+"["+b(window).scrollLeft().toString()};b.maintainscroll=function(){if(0<window.name.indexOf("[")){var a=window.name.split("[");window.name=b.trim(a[0]);window.scrollTo(parseInt(a[a.length-1]),parseInt(a[a.length-2]))}};b.maintainscroll()})(jQuery);

	$('#id_searchText').keyup(function(event) {
		yaks = document.getElementsByClassName('yak');
		for (var i=0, max=yaks.length; i < max; i++) {
			yakMessage = yaks[i].getAttribute('data-message').toLowerCase();
			searchText = $('#id_searchText').val().toLowerCase();
			if (yakMessage.indexOf(searchText) == -1) {
		                yaks[i].style.display = "none";
			} else {
		                yaks[i].style.display = "flex";
			}
		}
	});
	 $('.dropdown-content').hover(
				
               function () {
		  // entered content
               }, 
				
               function () {
		  // left content
		  $(this).css({"display":"none"});
		  /*$(this).animate({opacity: 0}, 200, function() {
		    $(this).css({"display":"none"});
		    $(this).css({"opacity":1});
		  });*/
               }
            );
	</script>
</body>

</html>
