{% extends "base.html" %}

{% block content %}

{% if form.errors %}
	<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="/accounts/auth/">
	{% csrf_token %}
	<label for="username">User Name:</label>
	<input type="text" name="username" value="" id="username">
	<label for="password">Password:</label>
	<input type="password" name="password" value="" id="password">

	<button type="submit" name="_submit" class="z-depth-4 waves-effect btn btn-primary btn-lg">
		Submit<i class="material-icons right">send</i>
	</button>
</form>

<div class="card" style="margin-top:40px;">
<h5>Login with username: guest and password: guest to view yaks without being able to vote</h5>
</div>

<div style="margin-bottom:40px;"></div>
<a href="/accounts/register/">Create Account</a>

{% endblock %}
