{% extends "base.html" %}
{% load i18n %}

{% block content %}
	<div class="yakList">
	<div class="yak">
		<h4 class="likes">Likes: {{ yak.likes }}</h4>
		<p>{{ yak.message}}</p>
		<hr>
		
		{% if yak.comments > 0 %}
			<div class="comments">
				{% for comment in yak.get_comments %}
					<div class="comment">
						<h5 class="likes">Likes: {{ comment.likes }}</h5>
						<p>{{ comment.getComment }}</p>
					</div>
					<hr>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	</div>
{% endblock %}
